body{
    font-size: 12px !important;
}
.navbar{
    /* border-bottom: 1.4px solid red; */
    margin-bottom: 0px;
}

.navbar-brand{
    padding: 0px;
}

.dashboard-bg{
    background-image: url("../img/dashboard-bg.png");
    background-repeat: no-repeat;
    background-size: 1317px 70px !important;
    opacity: 0.8;
}

.row-resized{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 35px;
    height: 60px;
    /* border-radius: .3rem; */
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3erm;
    border-bottom: 1.4px solid red;
    border-top: 1.4px solid #864146;
}

.jumbotron-3d {
    padding: 4px 2px !important;
}

.row-3d{
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-bottom: 3px solid #E9ECEF;
    margin-bottom: 20px;
    border-radius: .3rem;
}

.btn-toolbar > *,
.btn-group > *, .form-inline > * {
  font-size: 12px !important;
}

.pl-20{
    padding-left: 20px !important;
}
.container-3d{
    max-width: 1317px !important;
}

.form-control-3d{
    width: 113px !important;
    border-radius: 0px !important;
    padding: 4px 10px;
}

.form-control-search{
    width: 95% !important;
    line-height: 1 !important;
    font-size: 12px !important;
    /* padding: 4px 10px; */
}

.form-control-sel{
    width: 180px !important;
}



select > option{
    border-bottom: 2px solid #E9ECEF !important;
}

/* #rpt-dsc {
    border-top: 2px solid #E9ECEF !important; 
} */

.report-heading{
    color: #AAAAAB !important;
    font-weight: bold;
    margin: 35px auto;
    font-size: 17px;
}

.list-group-3d {
    line-height: 1 !important;
    
}

.list-group{
    max-height: 600px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item-3d.active {
    color: #212529 !important;
    background-color: #E9ECEF!important;
    border-color: #E9ECEF!important;
}