body {
  font-size: 12px !important;
}
.navbar {
  /* border-bottom: 1.4px solid red; */
  margin-bottom: 0px;
  padding: 0rem 0rem !important;
}

.navbar-brand {
  padding: 0px;
  margin-left: 0px !important;
}

.dashboard-bg {
  background-image: url("../img/dashboard2-bg.png");
  background-repeat: no-repeat;
  background-size: 1317px 70px !important;
  opacity: 0.8;
}

.row-resized {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 15px;
  height: 40px;
  /* border-radius: .3rem; */
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3erm;
  border-bottom: 1.4px solid red;
  border-top: 1.4px solid #864146;
}

.jumbotron-d {
  padding: 4px 2px !important;
}

.row-d {
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-bottom: 3px solid #e9ecef;
  margin-bottom: 15px;
  border-radius: 0.3rem;
  height: 30px !important;
}

.btn-toolbar > *,
.btn-group > *,
.form-inline > * {
  font-size: 12px !important;
}

.pl-20 {
  padding-left: 20px !important;
}
.container-d {
  max-width: 1317px !important;
}

.form-control-d {
  width: 113px !important;
  border-radius: 0px !important;
  padding: 4px 10px;
}

.form-control-search {
  width: 95% !important;
  line-height: 1 !important;
  font-size: 12px !important;
  /* padding: 4px 10px; */
}

.form-control-sel {
  width: 180px !important;
}

select > option {
  border-bottom: 2px solid #e9ecef !important;
}

/* #rpt-dsc {
    border-top: 2px solid #E9ECEF !important; 
} */

.report-heading {
  color: #aaaaab !important;
  font-weight: bold;
  margin: 10px auto;
  font-size: 17px;
}

.list-group-d {
  line-height: 1 !important;
}

.list-group {
  max-height: 430px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.list-group-item-d.active {
  color: #212529 !important;
  background-color: #e9ecef !important;
  border-color: #e9ecef !important;
}

.group-select-d,
.report-select-d {
  min-width: 150px !important;
  height: 27px !important;
  padding: 0.2rem 1.75rem 0.375rem 0.5rem !important;
}

.col-md-u {
  padding-right: 5px !important;
  border-right: 1px solid #e9ecef !important;
}

button.dt-button {
  padding: 0.2em 0.5em !important;
}

.btn-interval > .btn {
  padding: 0.2rem 0.5rem !important;
  border-radius: 0px !important;
}

nav > .container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  max-width: 1280px !important;
}

